/*素馨动态开始*/
.flower2{
    width: 878px;
    height: 1157px;
    background: #fff;
    float: left;
}
.content2{
    width: 100%;
    height: 1327px;
    background: #F1F1F1;
}
.flowerBox2{
    width:1171px;
    height:1147px;
    /*    background: yellow;*/
    margin: 30px auto;
}
/*素馨动态结束*/